.wrapper {
  padding: 80px 30px;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}

.text-red {
  color: red;
}

.video-frame {
  width: 150px;
  height: 150px;
  border: 1px solid #999;
}

hr {
  margin: 40px 0;
}